.container
  .row.voffset5
    %h3 Saved proposals
    %table.table.table-striped.table-hover.voffset5
      %tr
        %th Offering Firm
        %th Producer
        %th Annual Production
        %th Proposal Date
        %th
      %tr
        %td Fells Wargo
        %td Juan Johson
        %td $800,000
        %td 2/10/2015
        %td= link_to 'Load',{}, {class: 'btn btn-default btn-xs'}
      %tr
        %td URS
        %td Hotoyoshi Oto
        %td $1,500,000
        %td 2/05/2015
        %td= link_to 'Load',{}, {class: 'btn btn-default btn-xs'}
      %tr
        %td Beutsche Dank
        %td Tyrone James
        %td $4,000,000
        %td 2/12/2015
        %td= link_to 'Load',{}, {class: 'btn btn-default btn-xs'}
      %tr
        %td Beutsche Dank
        %td Hotoyoshi Oto
        %td $1,500,000
        %td 2/12/2015
        %td= link_to 'Load',{}, {class: 'btn btn-default btn-xs'}
          
  .row.voffset7
    = link_to 'Back to Main Menu',{}, {class: 'btn btn-primary', style: 'margin 0 15px'}
