.container
  .row.voffset5
    %h3 Saved proposals
    %table.table.table-striped.table-hover.voffset5
      %tr
        %th Offering Firm
        %th Producer
        %th Annual Production
        %th Proposal Date
        %th
      - @proposals.each do |proposal|
        %tr
          %td= proposal.new_firm
          %td= proposal.producer
          %td= number_to_currency(proposal.current_production, precision: 0)
          %td= proposal.updated_at
          %td= link_to 'Load', proposal_path(proposal), {class: 'btn btn-default btn-xs'}
  .row.voffset7
    = link_to 'Back to Main Menu', root_path, {class: 'btn btn-primary', style: 'margin 0 15px'}
