.container
  .row.voffset5
    .col-sm-6.col-sm-offset-2#main_column
      %h1.text-center New proposal
      = bootstrap_form_for @proposal, html: {class: 'form-horizontal'} do |f|
        = render "new_page_#{@proposal.current_step}", f: f
        .row.voffset7.text-center
          = f.submit 'Back', name: 'back_button', class: 'btn btn-default btn-lg' unless @proposal.first_step?
          = f.submit "#{@proposal.final_step? ? 'Generate Proposal' : 'Next Step'}", class: 'btn btn-success btn-lg'